.page-search {
    &__page, &__title {
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__list {
        @media (max-width: 480px) {
            padding: 0;
        }
    }
}
