.search {
    &__form {
        height: 80px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        height: 41px;
        width: 1080px;
        padding: 0;
        margin: 0 40px;
    }

    &__btn {
        background-color: cornflowerblue;
        color: white;
        border: 0;
        height: 45px;
        width: 80px;
        margin-left: 20px;
        padding: 5px;
    }
}
