.line-item {
    width: 100%;
    height: 70px;
    border: 1px solid #d8e3ec;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 20px;

    @media (max-width: 1024px) {
        flex-direction: column;
        height: auto;
    }

    &__name {
        color: #107eff;
        padding: 5px;
    }
}
